<!DOCTYPE html>
<html lang="en">
<head>
    <title>sweetalert-示例</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
    <link rel="icon" type="image/png" href="/static/images/icons/favicon.ico"/>
    <style type="text/css">
        #ol-demos-1 > li:hover,
        #ol-demos-2 > li:hover,
        #ol-demos-3 > li:hover {
            cursor: pointer;
            color: #00f;
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <h2>sweetalert-demos</h2>
    <hr />
    <ol>
        <li><a href="http://mishengqiang.com/sweetalert/">sweetalert-完美得无可替代</a></li>
        <li><a href="https://sweetalert.js.org/docs/">sweetalert-docs</a></li>
    </ol>
    <hr />
    点击下列每项，查看效果
    <h3>demos-1</h3>
    <ol id="ol-demos-1">
        <li data-action="success">success</li>
        <li data-action="error">error</li>
        <li data-action="warning">warning</li>
        <li data-action="info">info</li>
    </ol>
    <h3>demos-2</h3>
    <ol id="ol-demos-2">
        <li data-action="success">success</li>
        <li data-action="error">error</li>
        <li data-action="warning">warning</li>
        <li data-action="info">info</li>
    </ol>
    <h3>demos-3</h3>
    <ol id="ol-demos-3">
        <li data-action="icon-image">icon-image</li>
        <li data-action="buttons-text">buttons-text</li>
        <li data-action="buttons-cancel-ok">buttons-cancel-ok</li>
        <li data-action="buttons">buttons</li>
        <li data-action="click-value">click-value</li>
        <li data-action="click">click</li>
        <li data-action="no-title">no-title</li>
        <li data-action="no-buttons">no-buttons</li>
        <li data-action="countdown">countdown</li>
        <li data-action="input">input</li>
        <li data-action="input-placeholder">input-placeholder</li>
    </ol>
    
<!--===============================================================================================-->
    <script src="/static/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
    <script src="/static/vendor/sweetalert/sweetalert.min.js"></script>
<!--===============================================================================================-->
    <script type="text/javascript">
        $(document).ready(function() {
            $('#ol-demos-1').on('click', 'li[data-action]', function() {
                var action = $(this).attr('data-action');
                switch(action) {
                    case 'success':
                    case 'error':
                    case 'warning':
                    case 'info':
                        // 方式一
                        swal('标题', '内容', action);
                        break;
                    default:
                        break;
                }
            });
            $('#ol-demos-2').on('click', 'li[data-action]', function() {
                var action = $(this).attr('data-action');
                switch(action) {
                    case 'success':
                    case 'error':
                    case 'warning':
                    case 'info':
                        // 方式二
                        swal({
                            title: '标题',
                            text: '内容',
                            icon: action
                        });
                        break;
                    default:
                        break;
                }
            });
            $('#ol-demos-3').on('click', 'li[data-action]', function() {
                var action = $(this).attr('data-action');
                switch(action) {
                    case 'icon-image':
                        swal({
                            title: '标题111111111111',
                            text: '内容',
                            icon: "/static/images/thumbs-up.jpg" 
                        });
                        break;
                    case 'buttons-text':
                        swal({
                            title: '标题',
                            text: '内容',
                            icon: 'success',
                            buttons: {
                                confirm: {
                                    'text': '666'
                                }
                            }
                        });
                        break;
                    case 'buttons-cancel-ok':
                        swal({
                            title: '标题',
                            text: '内容',
                            icon: 'success',
                            buttons: {
                                confirm: true,
                                cancel: true
                            }
                        });
                        break;
                    case 'buttons':
                        swal({
                            title: '标题',
                            text: '内容',
                            icon: 'success',
                            buttons: {
                                confirm: true,
                                cancel: '取消',
                                haha: {
                                    text: '内容',
                                    value: '哈哈哈'
                                }
                            }
                        });
                        break;
                    case 'click-value':
                        swal({
                            title: '标题',
                            text: '内容',
                            icon: 'success',
                            buttons: {
                                confirm: {
                                    value: '666',
                                    text: '666'
                                },
                                cancel: {
                                    value: 'Bye',
                                    text: '取消',
                                    visible: true // cancel默认不显示
                                },
                                hello: {
                                    value: 'world',
                                    text: '哈哈'
                                }
                            }
                        }).then(function(result) {
                            console.log(arguments);
                            swal(result, '被点击了', 'info');
                        });
                        break;
                    case 'click':
                        swal("干得漂亮！", "你点击了按钮！","warning").then(function() {
                            alert('来了');
                        });
                        break;
                    case 'no-title':
                        swal("Hello world!");
                        break;
                    case 'no-buttons':
                        swal('脑壳', "Hello world!", {button: false});
                        break;
                    case 'countdown':
                        swal("This modal will disappear soon!", {
                            buttons: false,
                            timer: 3000,
                        });
                        break;
                    case 'input':
                        swal({
                            content: 'input'
                        });
                        break;
                    case 'input-placeholder':
                        swal({
                            content: {
                                element: "input",
                                attributes: {
                                    placeholder: "Type your password",
                                    type: "password",
                                }
                            }
                        }).then(function() {
                            swal({
                                title: '带有标题',
                                content: {
                                    element: "input",
                                    attributes: {
                                        placeholder: "Type your password",
                                        type: "password",
                                    }
                                }
                            }).then(function() {
                                swal({
                                    text: '带有正文说明',
                                    content: {
                                        element: "input",
                                        attributes: {
                                            placeholder: "Type your password",
                                            type: "password",
                                        }
                                    }
                                });
                            });
                        });
                        break;
                    default:
                        break;
                }
            });
        });
    </script>
</body>
</html>