<div class="jumbotron">
    <h1>{{ title | default('世界，你好') }}</h1>
    <p>
        {{ content | default('''
            许多事情做了后悔，不做也后悔；许多人遇到要后悔，错过了更后悔；许多话说出来后悔，不说出来也后悔……
        ''') }}
    </p>
</div>